@import url('https://fonts.googleapis.com/css?family=Nunito Sans ');

:root {
  --darkest: #071821;
  --dark: #306850;
  --light: #86c06c;
  --lightest: #e0f8cf;
  --fast: .1s;
  --med: .2s;
  --slow: .3s;
  --shadow: 4px 4px var(--dark);
  --shadow-hover: 8px 8px 1px var(--dark);
  --shadow-text: 1.5px 1.5px var(--dark);
}

body {
  font-family: "Nunito Sans";
  background-color: var(--lightest);
  color: var(--darkest);
  margin: 0;
  font-size: 20px;
  line-height: 1.25;
}

p.center {
  text-align: center;
}

/* HEADERS AND ETC */

hr {
  margin: 0 12.5% 0 12.5%;
  border-top: 6px dotted var(--darkest);
  border-bottom: none;
}

h1 {
  color: var(--light);
  text-align: center;
  text-shadow: var(--shadow-text);
  margin: 2px 0 2px 0;
  font-size: 42px;
}

h3 {
  color: var(--light);
  text-align: center;
  text-shadow: var(--shadow-text);
  margin: 2px 0 2px 0;
  font-size: 30px;
}

p {
  margin: 8px 4px 8px 4px;
}

/* LINKS */

a.link {
  color: var(--light);
  text-decoration: underline var(--dark);
  transition-duration: var(--med);
  font-weight: 600;
}

a.link:visited {
  color: var(--dark);
  text-decoration: underline var(--light);
}

a.link:hover {
  color: var(--light);
  text-decoration: underline var(--light);
  text-shadow: var(--shadow-text);
  transition-duration: var(--med);
}

/* NAVIGATION */

ul {
  padding: 0;
  overflow: hidden;
  background-color: var(--darkest);
  border: 2px solid var(--dark);
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  font-weight: 600;
  z-index: 1;
}

li {
  margin: 0;
  float: center;
}

li a {
  display: block;
  color: var(--lightest);
  text-align: center;
  text-shadow: var(--shadow-text);
  padding: 2px;
  text-decoration: none;
  transition-duration: var(--med);
}

li a:hover:not(.active) {
  background-color: var(--lightest);
  color: var(--light);
  text-shadow: var(--shadow-text);
  transition-timing-function: ease-in-out;
  transition-duration: var(--med);
}

.active {
  background-color: var(--lightest);
  color: var(--light);
  transform: scale(105%);
  text-shadow: var(--shadow-text);
}

/* BUTTONS */

.button-m {
  display: block;
  font-size: 20px;
  margin: 12px auto 12px auto;
  padding: 8px;
  cursor: pointer;
  transition-duration: var(--fast);
}

.button-l {
  display: block;
  font-size: 30px;
  margin: 14px auto 14px auto;
  padding: 8px;
  cursor: pointer;
  transition-duration: var(--fast);
}

.button-dark {
  background-color: var(--dark);
  color: var(--lightest);
  border: 4px solid var(--darkest);
}

.button-dark:hover {
  box-shadow: var(--shadow);
  transform: scale(110%);
  transition-duration: var(--fast);
}

.button-light {
  background-color: var(--light);
  color: var(--darkest);
  border: 4px solid var(--darkest);
}

.button-light:hover {
  box-shadow: var(--shadow);
  transform: scale(110%);
  transition-duration: var(--fast);
}

/* TABLES */

table {
  font-family: monospace;
  font-size: 16px;
  color: var(--darkest);
  border-collapse: collapse;
  border: 1px solid var(--dark);
  width: 95%;
  margin: 8px auto 8px auto;
  cursor: default;
}

caption {
  caption-side: top;
  font-size: 20px;
  color: var(--lightest);
  background-color: var(--darkest);
  text-shadow: var(--shadow-text);
  width: auto;
  padding: 4px 6px 4px 6px;
}

th {
  background-color: var(--darkest);
  color: var(--lightest);
  text-shadow: var(--shadow-text);
  border: 1px solid var(--dark);
  /* font-family: "Nunito Sans"; */
  text-align: left;
  padding: 2px 6px 2px 6px;
}

td {
  padding: 2px 6px 2px 6px;
  border: 1px solid var(--dark);
}

tr:nth-child(odd) {
  background-color: var(--light);
}

tr:hover {
  background-color: var(--dark);
  color: var(--lightest);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--light);
}
 
/* handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 6px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

/* INLINE IMAGES */

img {
  z-index: 0;
}

.img-left {
  width: 320px;
  margin: 8px 12px 8px 4px;
  float: left;
  box-shadow: var(--shadow);
}

.img-right {
  width: 320px;
  margin: 8px 12px 4px 0px;
  float: right;
}

.img-center {
  display: block;
  margin: auto;
  width: auto;
}

/* SCREENSHOTS AND CAPTIONS */

.container {
  position: relative;
  margin: 16px auto 16px auto;
  text-align: center;
  max-width: 100%;
  max-height: 80%;
  width: 640px;
  /* border: 2px dashed blue; */
}

.screenshot-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-shadow: var(--shadow-hover);
  /* border: 2px dashed red; */
}

.top-left-text {
  position: absolute;
  top: 26px;
  left: 8px;
  transform: rotate(-6deg);
  padding: 4px;
  color: var(--darkest);
  background-color: var(--light);
  box-shadow: var(--shadow);
  font-size: 24px;
}

.top-right-text {
  position: absolute;
  top: 26px;
  right: 18px;
  transform: rotate(6deg);
  padding: 4px;
  color: var(--darkest);
  background-color: var(--light);
  box-shadow: var(--shadow-hover);
  font-size: 24px;
}

/* RESPONSIVE GALLERY */

div.gallery {
  box-shadow: var(--shadow-hover);
  margin: 12px 12px 12px 12px;
  transition-duration: var(--fast);
  /* border: 2px solid red; */
}

div.gallery:hover {
  transition-timing-function: ease-in-out;
  transition-duration: var(--slow);
  transform: scale(105%);
  box-shadow: var(--shadow-hover);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 4px;
  text-align: center;
  text-wrap: pretty;
  font-weight: 600;
  background-color: var(--darkest);
  color: var(--light);
  text-shadow: var(--shadow-text);
}

* {
  box-sizing: border-box;
}
 
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media screen and (max-width: 750px) {
  .responsive {
    width: 49%;
    margin: 12px 0 12px 0;
    z-index: 1;
  }

  .container {
    width: 90%;
  }

  .top-left-text {
    left: 12px;
    top: 16px;
    font-size: 16px;
  }

  .top-right-text {
    right: 16px;
    top: 16px;
    font-size: 16px;
  }

  th {
    font-size: 14px;
  }

  tr {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .responsive {
    width: 100%;
  }

  .top-left-text {
    left: 8px;
    top: 14px;
    font-size: 12px;
  }

  .top-right-text {
    right: 16px;
    top: 14px;
    font-size: 12px;
  }

  th {
    font-size: 12px;
  }

  tr {
    font-size: 12px;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}