@import url('https://fonts.googleapis.com/css?family=Nunito Sans ');

:root {
  --darkest: #071821;
  --dark: #306850;
  --light: #86c06c;
  --lightest: #e0f8cf;
}

body {
  font-family: "Nunito Sans";
  background-color: var(--lightest);
  color: var(--darkest);
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--light); 
}
 
/* handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
  border: 2px solid var(--darkest);
}

/* HEADERS AND ETC */

hr {
  margin: 0 30% 0 30%;
  border-top: 6px dashed var(--darkest);
  border-bottom: none;
}

h1 {
  color: var(--dark);
  text-align: center;
  margin: 2px 0 2px 0;
  font-size: 42px;
}

h3 {
  color: var(--dark);
  text-align: center;
  margin: 2px 0 2px 0;
  font-size: 30px;
}

/* LINKS */

a {
  color: var(--darkest); font-size: 22px;
  font-weight: 700;
}

a:visited {
  text-decoration: bold var(--darkest);
}

a:hover {
  text-decoration: bold var(--darkest);
}

a:focus {
  text-decoration: bold var(--darkest);
}

/* NAVIGATION */

ul {
  /* display: inline; */
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkest);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  margin: 0;
  float: center;
}

li a {
  display: block;
  color: var(--lightest);
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--lightest);
  color: var(--darkest);
}

.active {
  background-color: var(--light);
  color: var(--darkest);
}

/* INLINE IMAGES */

img {
  z-index: 0;
}

.imgleft {
  width: 320px;
  margin: 8px 12px 8px 4px;
  float: left;
}

.imgright {
  width: 320px;
  margin: 8px 12px 4px 0px;
  float: right;
}

.imgcenter {
  display: block;
  margin: auto;
  width: auto;
}

.screenshot-center {
  display: block;
  margin: auto;
  width: auto;
  box-shadow: 6px 6px var(--dark);
}

/* SCREENSHOTS AND IMAGES */

.container {
  position: relative;
  margin: 16px auto 16px auto;
  text-align: center;
  width: 640px;
  /* border: 2px solid blue; */
}

.top-left-text {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px;
  color: var(--darkest);
  background-color: var(--light);
  box-shadow: 6px 6px var(--dark);
  font-size: 24px;
}

/* CONTENT */

p {
  margin: 8px 4px 8px 4px;
}

div.content {
  padding: 1px 8px;
  height: 1000px;
}

div.gallery {
  border: 1px solid var(--darkest);
}

div.gallery:hover {
  border: 1px solid var(--dark);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
 
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media screen and (max-width: 700px) {
  /* .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  } */

  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media screen and (max-width: 400px) {
  /* .sidebar a {
    text-align: left;
    float: none;
  }

  .responsive {
    width: 100%;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  } */
}