@import url('https://fonts.googleapis.com/css?family=DotGothic16');

:root {
  --darkest: rgb(15, 56, 15);
  --dark: #306230;
  --light: #8bac0f;
  --lightest: rgb(157, 189, 15);
}

body {
  margin: 10px;
  font-family: "DotGothic16", sans-serif;
  font-size: 22px;
  color: var(--darkest);
  background-color: var(--lightest);
  background-image: url("/img/lcdpixels.png");
  background-repeat: repeat;
  cursor: crosshair;
}

a:link, a:visited {
  color: var(--darkest);
  text-decoration: none;
  cursor: crosshair;
}

#text {
  display: flex;
  background-color: var(--lightest);
  width: max-content;
  padding: 4px;
  margin: 20px auto 20px auto;
  border: 4px solid var(--darkest);
  flex-wrap: wrap;
}

#text:focus {
  scale: 1.5;
  box-shadow: 4px 4px var(--dark);
  cursor: zoom-out;
  text-wrap: wrap;
}

/* change cursor to magnifying glass on hover */

#text:hover {
  cursor: zoom-in;
}

.button-next {
  position: absolute;
  width: max-content;
  bottom: 16px;
  right: 10px;
  background-color: var(--lightest);
  padding: 4px;
  border: 4px solid var(--darkest);
}

.button-next:hover {
  position: absolute;
  background-color: var(--darkest);
  color: var(--lightest);
  width: max-content;
  padding: 4px;
  border: 4px solid var(--lightest);
}